.profile {
  width: 768px;
  margin: 20px auto 0 auto;
  padding: 20px;
  border: 3px solid black;
  background: rgba(34, 36, 34, 0.486);
  font-size: 20px;
}

.avatar {
  padding: 10px;
  width: 50%;
  background: cornsilk;
  border-radius: 25px;
}

.description {
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

.stats {
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;
}
.item {
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(238, 234, 229);
}
.label {
  padding-right: 5px;
}
